<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="accounting_project.Properties.Settings.accountingConnectionString"
            connectionString="Data Source=ASH-PC\SQLEXPRESS;Initial Catalog=accounting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>